<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Album</title>


    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="">
</head>
<body>
	<!-- Header Area Start -->
    <header class="header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between"  id="conferNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="./index.html"><img src="./img/core-img/logo5.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="events.html">Events</a></li>
                                <li><a href="travel.html">Flights</a></li>
                                <li><a href="holidays.html">Holidays</a></li>
                                <li><a href="artwork.html">Artwork</a></li>
                                <li><a href="music.html">Music</a></li>
                                <li><a href="movies.html">Movies</a></li>
                                <li><a href="books.html">Books</a></li>
                                <li class="nav-item dropdow">
                                    <span class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <img src="https://img.icons8.com/ios-filled/30/000000/user.png">
                                    </span>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" data-toggle="modal" data-target=".bd-example-modal-xl">Account</a>
                                      <a class="dropdown-item" href="cart.html">Cart</a>
                                      <a class="dropdown-item" href="Merchant Dashboard/merchant.html">Sell Product</a>
                                      <a class="dropdown-item" href="login.html">Log Out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
<!--main page-->
<section class=" mt-3 pt-2 pb-2" >
	<div class="container mt-2">
		<div class="row">
            <div class="album-container">
			     <img src="img/bg-img/album1.jpg" style="size: 20px;" alt="check-out-image">
            </div>
			<!-- Ticket Area -->
            <div class="songs_section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="cart_container">
                                <div class="row ticket_title">
                                    <h5>Album:</h5>
                                    <p class="ml-5">Live and die in Africa</p>
                                </div>
                                <div class="row ticket_title">
                                    <h5>Artist:</h5>
                                    <p class="ml-5">Sauti Sol</p>
                                </div>
                                <div class="row form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                  <label class="form-check-label" for="defaultCheck1">
                                    Purchase whole album (KES 1,000)
                                  </label>
                                </div>
                                <table class="table mt-3">
                                  <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">#</th>
                                      <th scope="col">Name</th>
                                      <th scope="col">Artist</th>
                                      <th scope="col">Genre</th>
                                      <th scope="col">Price</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>
                                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                      </td>
                                      <td>#</td>
                                      <td>Mark</td>
                                      <td>Otto</td>
                                      <td>@mdo</td>
                                      <td>100</td>
                                    </tr>
                                    <tr>
                                      <td>
                                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                      </td>
                                      <td>#</td>
                                      <td>Mark</td>
                                      <td>Otto</td>
                                      <td>@mdo</td>
                                      <td>100</td>
                                    </tr>
                                    <tr>
                                      <td>
                                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                      </td>
                                      <td>#</td>
                                      <td>Mark</td>
                                      <td>Otto</td>
                                      <td>@mdo</td>
                                      <td>100</td>
                                    </tr>
                                    <tr class="mt-3">
                                      <th colspan="5" scope="row">Total</th>
                                      <td>1000</td>
                                    </tr>
                                  </tbody>
                                </table>

                                <!-- Book Button -->

                                <div class="cart_buttons">
                                    <button type="button" class="button cart_button_checkout" data-toggle="modal" data-target="#exampleModal">Add to cart</button>
                                    <button type="button" class="button cart_button_checkout" data-toggle="modal" data-target="#exampleModal">Proceed to Checkout</button>
                                     

                                     <!-- Modal -->
                                     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                       <div class="modal-dialog" role="document">
                                         <div class="modal-content">
                                           <div class="modal-header" style="justify-content: center;">
                                             <h5 class="modal-title" id="exampleModalLabel">
                                                <p>Koroga Fest</p>
                                                <p>Sat, Nov 16th - Sunday, Nov 17th 2019</p>
                                                Order summary:
                                             </h5>
                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                               <span aria-hidden="true">&times;</span>
                                             </button>
                                           </div>
                                           <div class="modal-body row">
                                            <div class="ml-3 mr-5">
                                                <h5>Quantity:</h5>
                                                <h5 class="ml-3">1</h5>
                                            </div>
                                            <div class="ml-5">
                                                <h5 >Cost:</h5>
                                                <h5>1,000.00</h5>
                                            </div>
                                             
                                           </div>
                                           <div class="modal-footer">
                                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                             <button type="button" class="btn btn-success">Buy with Mpesa</button>
                                           </div>
                                         </div>
                                       </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>	
	</div>
    <!-- Ticket Area -->
    <div class="ticket_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cart_container">
                        <div class="ticket_title">Ticket packages:</div>
                        <div class="mt-3">

                            <!--Cart item -->
                            <ul class="cart_list">
                                <li class="cart_item clearfix">
                                    <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                        <div class="cart_item_name cart_info_col">
                                            <div class="cart_item_title">Name</div>
                                        </div>
                        
                                        <div class="cart_item_quantity cart_info_col">
                                            <div class="cart_item_title">Artist</div>
                                        </div>
                                        <div class="cart_item_price cart_info_col">
                                            <div class="cart_item_title">Genre</div>
                                        </div>
                                        <div class="cart_item_total cart_info_col">
                                            <div class="cart_item_title">Price</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!--Cart item END-->
                            
                        </div>
                        
                        <!-- Order Total -->
                        <div class="order_total">
                            <div class="order_total_content text-md-right">
                                <div class="order_total_title">Order Total:</div>
                                <div class="order_total_amount">$2000</div>
                            </div>
                        </div>

                        <!-- Book Button -->

                        <div class="cart_buttons">
                            <button type="button" class="button cart_button_checkout" data-toggle="modal" data-target="#exampleModal">Proceed to Checkout</button>
                             

                             <!-- Modal -->
                             <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                               <div class="modal-dialog" role="document">
                                 <div class="modal-content">
                                   <div class="modal-header" style="justify-content: center;">
                                     <h5 class="modal-title" id="exampleModalLabel">
                                        <p>Koroga Fest</p>
                                        <p>Sat, Nov 16th - Sunday, Nov 17th 2019</p>
                                        Order summary:
                                     </h5>
                                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                     </button>
                                   </div>
                                   <div class="modal-body row">
                                    <div class="ml-3 mr-5">
                                        <h5>Quantity:</h5>
                                        <h5 class="ml-3">1</h5>
                                    </div>
                                    <div class="ml-5">
                                        <h5 >Cost:</h5>
                                        <h5>1,000.00</h5>
                                    </div>
                                     
                                   </div>
                                   <div class="modal-footer">
                                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                     <button type="button" class="btn btn-success">Buy with Mpesa</button>
                                   </div>
                                 </div>
                               </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="container mt-3" class="checkout-info">
		<h3>INFORMATION:</h3>
		<p>
			<p>Welcome to the road of 10 Years of Kenya Nights! Each month we're bringing you some of the top artists in the world across various genres to build up to a decade of our journey that goes down December 11th!</p>

			<p>2019 has been a wild ride and the year is coming to an end. Before we head and celebrate 10 YEARS of KENYA NIGHTS and head to Diani for NYE, we have one ore treat in store for you all. For those who were at the monumental Major Lazer Sound System gig last year bared witness to one of the greatest Afro House DJ's to have hit Kenyan shores. We found it only fitting to have the Portuguese/Angolan Afro master back for our November build up! We're extremely honoured to have Djeff back in the 254!</p>

			<p>Save The Date - November 16th</p>
			

			<p>Management Reserves The Right of Admission.</p>
		</p>
	</div>
</section>
<!-- main page ends here-->

<!-- Footer Area Start -->
    <footer class="footer-area bg-img bg-overlay-2 section-padding-100-0">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Footer Logo -->
                            <a href="#" class="footer-logo"><img src="img/core-img/logo5.png" alt=""></a>
                            <p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain.</p>

                            <!-- Social Info -->
                            <div class="social-info">
                                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Contact</h5>

                            <!-- Contact Area -->
                            <div class="footer-contact-info">
                                <p><i class="zmdi zmdi-map"></i> 184 Main Collins Street</p>
                                <p><i class="zmdi zmdi-phone"></i> (226) 446 9371</p>
                                <p><i class="zmdi zmdi-email"></i> confer@gmail.com</p>
                                <p><i class="zmdi zmdi-globe"></i> www.confer.com</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Services</h5>

                            <!-- Footer Nav -->
                            <ul class="footer-nav">
                                <li><a href="index.html">Events</a></li>
                                <li><a href="speakers.html">Travel</a></li>
                                <li><a href="blog.html">Holidays</a></li>
                                <li><a href="contact.html">Artwork</a></li>
                                <li><a href="contact.html">Music</a></li>
                                <li><a href="contact.html">Movies</a></li>
                                <li><a href="contact.html">Books</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Using TicketPoa</h5>

                            <!-- Footer Nav -->
                            <ul class="footer-nav">
                                <li><a href="index.html">Sell Ticket</a></li>
                                <li><a href="speakers.html">Sell Package</a></li>
                                <li><a href="blog.html">Sell Music</a></li>
                                <li><a href="contact.html">Sell Artwork</a></li>
                                <li><a href="contact.html">Sell Movie</a></li>
                                <li><a href="contact.html">Sell Books</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="container">
            <div class="copywrite-content">
                <div class="row">
                    <!-- Copywrite Text -->
                    <div class="col-12 col-md-6">
                        <div class="copywrite-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                    <!-- Footer Menu -->
                    <div class="col-12 col-md-6">
                        <div class="footer-menu">
                            <ul class="nav">
                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Terms of Service</a></li>
                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="js/confer.bundle.js"></script>
    <!-- Active -->
    <script src="js/default-assets/active.js"></script>



</body>
</html>