{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}

  <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-gradient-overlay jarallax" style="background-image: url(img/bg-img/plane.jpg); height: 500px;">
        <!-- Heading -->
        <div class="row">
            <div class="col-12  text-center wow fadeInUp" data-wow-delay="300ms" style="padding-top: 50px">
                <h3 style="color: #fff">Search for cheap flights</h3>
                <p style="color: #fff">Get the best prices for local, regional and international flights</p>
            </div>            
        </div>
        <!-- Heading End -->
            <!-- Search Bar -->
            <section class="container" style="background-color: rgb(0,0,0,0.5); padding: 8px">
                <div class="container mt-3">
                    <form >
                        <div class="form-row">
                            <input type="text" class="flight-search city mr-5" placeholder="Depature City">
                            <input type="text" class="flight-search city" placeholder="Arrival City">
                            <div class="form-check ml-3 mt-2">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              <label class="form-check-label" for="defaultCheck1" style="color: #fff">
                                Direct Flight
                              </label>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="form-group">
                                <label style="color: #fff" for="depature-date">Depature date</label>
                                <input type="Date" id="depature-date" class="form-control flight-search flight-date">
                            </div>
                            <div class="form-group mr-5">
                                <label style="color: #fff" for="return-date">Return Date</label>
                                <input type="Date" id="return-date" class="form-control flight-search flight-date">
                            </div>
                            <div class="row mt-4 ml-1">
                                <div class="form-group">
                                    <input type="number" id="adults" placeholder="Adults(Above 12 years)" class="flight-search flight-age">
                                </div>
                                <div class="form-group">
                                    <input type="number" id="children" placeholder="children(2-11 years)" class="flight-search flight-age">
                                </div>
                                <div class="form-group">
                                    <input type="number" id="children" placeholder="Infants(Under 2 years)" class="flight-search flight-age">
                                </div>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                                <div class="form-group">
                                    <label style="color: #fff" for="depature-date">Airline</label>
                                    <select id="depature-date" class="form-control flight-search flight-date">
                                        <option>All</option>
                                        <option>748 Air Services</option>
                                        <option>African Express Airways</option>
                                        <option>Airkenya Express</option>
                                        <option>ALS - Aircraft Leasing Services</option>
                                        <optionBlue>Bird Aviation (Kenya)</option>
                                        <option>Blue Sky Aviation Services</option>
                                        <option>Fly540</option>
                                        <option>Jambojet</option>
                                        <option>Kenya Airways</option>
                                        <option>Silverstone Air</option>
                                        <option>Eastafrican.com</option>
                                        <option>Mombasa Air Safari</option>
                                        <option>Safarilink Aviation</option>
                                    </select>
                                </div>
                                <div class="form-group mr-5">
                                    <label style="color: #fff" for="return-date">Flight class</label>
                                    <select id="return-date" class="form-control flight-search flight-date">
                                        <option>Economy</option>
                                        <option>Discount Economy</option>
                                        <option>Business</option>
                                        <option>First class</option>
                                    </select>
                                </div>
                                 <div class="form-group mr-5">
                                    <label style="color: #fff" for="return-date">Currency</label>
                                    <select id="return-date" class="form-control flight-search flight-date">
                                        <option>KES</option>
                                        <option>USD</option>
                                        <option>UGX</option>
                                        <option>TZS</option>
                                        <option>RWF</option>
                                    </select>
                                </div>
                                <div>
                                <div class="form-check ">
                                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                  <label class="form-check-label" for="exampleRadios1" style="color: #fff">
                                    Round Trip
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                  <label class="form-check-label" for="exampleRadios2" style="color: #fff">
                                    One way
                                  </label>
                                </div>
                               
                                </div>
                        </div>
                        <button href="#" class="btn confer-btn mt-3">Search Flights</button>
                    </form>
                </div>
            </section>
        
    </section>

    {% endblock %}
    