<html>
{% load static %}
<head>
<title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/login.css' %}">
    <link rel="icon" type="image/png" href="{% static 'mainapp/favicon.ico' %}"/>
<body>
    <div class="loginbox">
    <img src="{% static 'mainapp/user.png' %}" class="avatar">
        <h1>Sign Up Here</h1>
        <form>
            <p>Email</p>
            <input type="email" name="" placeholder="Enter your Email">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <p>Confirm Password</p>
            <input type="password" name="" placeholder="Confirm Password">
            <input type="submit" name="" value="Sign Up">
            
        </form>
        
    </div>

</body>
</head>
</html>